*{
    margin: 0;
}
#line{
    
}
#jdl-text-me{
    text-align: center;
}
#vid-ukin{
     font-family: "Albert Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight:300;
  font-style: normal;
    margin: auto;
    text-align: center;
    padding: 20px;
    background: linear-gradient(to left, transparent, skyblue, transparent);
}
body{
    /*background: linear-gradient(to left,black,transparent);*/
}
.mns-photo{
    width: 30%;
    /*height: 350px;*/
    padding-bottom: 30px;
    
    
    
}
#frame-mns{
    padding-top: 20px;
    width: 100%;
    height: 800px;
    background-color: white;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    /*background-color: aquamarine;*/
}
.info-photo-mns{
    text-align: justify;
    padding-top: 20px;
    font-family: "Albert Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight:300;
  font-style: normal;
}
#sma-mns{
    width: 60%;
    
    padding: 20px;
    background: linear-gradient(to left,transparent,darkblue,transparent);
    text-align: center;
    color: white;
    margin: auto;
font-family: "Albert Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight:300;
  font-style: normal;
}
#mns{
    width: 100%;
    height: 1100px;
    /*background: linear-gradient(to left,transparent,skyblue,transparent);*/
    /*border-bottom-right-radius: 100px;
    border-bottom-left-radius: 100px;*/
}
.mns-photo, .set-photo-mns{
    border-radius: 20px;
}
#impor-video-ukin{
    width: 60%;
    height: 350px;
    background-color: black;
}
#tbl-ukin{
    padding: 10px;
    background-color: darkblue;
    color: white;
    border-radius: 10px;
    width: 120px;
    text-align: center;
    margin: auto;
}
#text-ukin{
    width: 30%;
    height: 350px;
      font-family: "Albert Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight:300;
  font-style: normal;
    text-align: justify;
    
}
#video{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    padding-top: 30px;
    height: 400px;
    background:linear-gradient(to left, skyblue, transparent);
    margin: auto;
}
#photo-me{
    width: 30%;
   /* height: 400px;*/
    background-color: white;
    
}
#set-photo-me{
    width: 100%;
}
#text-me{
    width: 65%;
    /*height: 400px;*/
    background-color: white;
    
}
#ex-text-me{
     font-family: "Pacifico", cursive;
  /*font-weight: 50;*/
  font-style: normal;
    text-align: justify;
    font-size: 14pt;
}
#about-me{
    width: 65%;
   /* height: 400px;*/
    /*background-color: grey;*/
    margin: auto;
    display: flex;
    justify-content: space-evenly;
}
#my{
    box-shadow: 0px 5px 8px grey;
    width: 40%;
    padding-top: 5px;
        padding-bottom: 5px;
    text-align: center;
    background: linear-gradient(to left,transparent,#09095a,transparent);
    margin: auto;
    color: white;
 font-family: "Pacifico", cursive;
  font-weight: 400;
  font-style: normal;
}
#jdl-text-me{
    font-family: "Pacifico", cursive;
  font-weight: 400;
  font-style: normal;
}
#mark{
    width: 100px;
}
.the-quote{
    width: 20%;
    height: 300px;
  /*  background-color: black;*/
    margin: 10px;
    padding: 10px;
    box-shadow: 2px 5px 8px grey;
}
.set-quote{
    width: 100%;
    height: 100%;
}

#kt-mutiara{
    display: flex;
    flex-wrap: wrap;
  
    justify-content: center;
    width: 100%;
    padding-bottom: 10px;
    padding-top: 10px;
     
   /*background-color: darkblue;*/
    margin: auto;
}
.ph{
    width: 30%;
    /*height: 300px;*/   
    background-color: lightsteelblue;
    border-radius: 20px;
    box-shadow: 5px 5px 8px black;
}
.set-ph{
    width: 100%;
    border-radius: 20px;
}
#st-smpp{
    color: black;
    padding: 10px;
        font-family: "Albert Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight:300;
  font-style: normal;
    background: linear-gradient(to right,transparent,skyblue,transparent);
    width: 40%;
    margin: auto;
    text-align: center;
}
#photo-koleksi{
    width: 95%;
    height: 400px;
    
    margin: auto;
    display: flex;
    justify-content: space-evenly;
}
#photo{
    width: 100%;
    height: 500px;
    /*background:linear-gradient(to top,transparent,skyblue,transparent);*/
    margin: auto;
}
#wise-word{
    text-align: center;
       text-align: center;
    font-family: "Albert Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight:300;
  font-style: normal;
    color: white;
    
}
        
}
#profesi, #info-saya,#ket-saya{
    padding-top: 10px;
}

#ket-saya{
    padding-bottom: 10px;
}
#sms{
    padding-bottom: 10px;
    padding-top: 10px;
}
#name{
        padding-bottom: 20px;
        
}
#name,#profesi,#info-saya,#ket-saya,#tbl-saya,#sms{
    text-align: center;
    font-family: "Albert Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight:300;
  font-style: normal;
    color: white;
}
#tbl-saya:hover{
    background-color: white;
    cursor: pointer;
    color: darkblue;
}
#tbl-saya{
    background-color: orangered;
    color: white;
    width: 100px;
    padding: 12px;
    border-radius: 10px;
    margin: auto;
}




#gtg{
    font-weight: bold;
    color: red;
}








#menu:hover{
    cursor: pointer;
}
#menu{
    
    font-family: "Albert Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight:300;
  font-style: normal;
    background-color: white;
    color: darkblue;
    width: 70px;
    height: 30px;
    padding: 5px;
    text-align: center;
    border-radius: 10px;
    margin-top: 4px;
}
#frame-header{
    position: fixed;
    z-index: 999;
    width: 90%;
    height: 53px;
    margin-left: 5%;
    background-color: #09095a;
    /*background: linear-gradient(to left,blue,red,blue,pink,yellow); */
    box-shadow: 2px 2px 10px 2px grey;
}
#tag-line{
    margin-left: 20px;
    font-family: "Albert Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight:300;
  font-style: normal;
    color: white;
}
#nama{
    margin-left: 20px;
font-family: "Albert Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight:300;
  font-style: normal;
    padding-top: 2px;
    color: white;
}

#line{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 48px;
    background-color: #09095a;
}
#pengalaman{
    text-align: center;
    color: white;
    margin-top: 20px;
    font-family: "Albert Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight:300;
  font-style: normal;
    padding-top: 2px;
    
}
#ket-pengalaman{
    text-align: justify;
    color: white;
    font-family: "Albert Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight:300;
  font-style: normal;
    padding-top: 2px;
}
#gbr-menu-gif{
    width: 100%;
}
.menu-item{
    width: 20%;
    height: 350px;
    
}
#tbl-baca:hover{
    cursor: pointer;
    background-color: yellow;
}
#tbl-baca{
    width: 100px;
    background-color: white;
    color: black;
    text-align: center;
    border-radius: 10px;
    margin-top: 20px;
    margin-left: 25%;
}
.jdl{
    text-align: center;
    height: 30px;
    font-family: "Albert Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight:300;
  font-style: normal;
}
.list-item:hover{
    background-color: yellow;
    border-radius: 10px;
    color:black;
    cursor: pointer;
    text-align: center;
}
.list-item{
    font-family: "Albert Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight:300;
  font-style: normal;
    padding-top: 2px;
    list-style: none;
    color: white;
    margin-top: 20px;
}
.jdl-menu{
    width: 100%;
    height: 25px;
    background-color: white;
    border-radius: 10px;
}
#rows-menu{
    padding-top: 20px;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}
#list-menu{
    
    
    width: 100%;
    top: 83px;
    display: none;
    
    height: 400px;
    background-color: black;
    position:absolute;
    
    /*display: none;*/
    
    margin-top: -30px;
}
#frame-content{
    padding-top: 53px;
    width: 90%;
    /*height: 5000px;*/
    
    margin: auto;
    
    
}
.icon{
    width: 30%;
    height: 50px;
    
}
.icon1{
    width: 100%;
    
}

#nama{
    font-size: 14pt;
}
#icon-sos{
    width: 15%;
    height: 50px;
    /*background-color: skyblue;*/
    margin: auto;
    display: flex;
    justify-content: space-evenly;
}
#gtg{
    color: red;
    font-weight: bold;
}
#text-gbr-ku{
    width: 68%;
    height: 500px;
    padding-top: 100px;
    /*background-color: red;*/
    
}
#gbr-ku{
    width: 35%;
    /*height: 500px;*/
    background-color: white;
}
#line-nama{
    width: 50%;
    height: 48px;
    
}
#line-menu{
    width: 20%;
    height: 48px;
    
    
}
#hero-info{
    width: 100%;
    height: 500px;
    background-color: #09095a;
    display: flex;
}


#quote{
    width: 95%;
    height: 100px;
    background-color: white;
    margin-top: 20px;
    
    margin: auto;
    border-radius: 20px;
    
}
.set-photo-mns{
    width: 100%;
    box-shadow: 0px 0px 5px white;
    
    
}
#isi{
    width: 100%;
    
    /*background-color: #829ec9;*/
    
}
.programmer{
    text-align: center;
    color: white;
      font-family: "Albert Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight:300;
  font-style: normal;
}
#footer{
    padding-top: 20px;
    width: 100%;
    padding-bottom: 20px;
    
    background-color: black;
}
#diri-ku{
    width: 100%;
}
/*724px*/

@media only screen and (max-width: 724px){
    #text-ukin{
        background-color: white;
    }
    #about-me{
        width: 90%;
    }
    #photo-me,#text-me{
        width: 100%;
    }
    #about-me{
        display: block;
    }
    #my{
        width: 100%;
    }
    #kt-mutiara{
        display: block;
    }
    .the-quote{
        
        width: 95%;
        margin-left: 14%;
        margin-top: 16px;
        margin-left: 0px;
        height: 480px;
        
    }
    #video{
        display: block;
        height: 800px;
        padding-top: 0;
    }
    #impor-video-ukin, #text-ukin{
        width: 100%;
    }
    #st-smpp{
        width: 90%;
        background: linear-gradient(to top,darkblue,skyblue);
        color: white;
        border-radius: 20px;
    }
    #sma-mns{
        width: 90%;
        background: linear-gradient(to top,darkblue,skyblue);
        color: white;
        border-radius: 20px;
        
        
    }
    #frame-mns{
        display: block;
        
    }
    #mns{
        height: 2700px;
        
    }
    .mns-photo{
        width: 100%;
        margin-bottom: 10px;
        
        
    }
    .ph{
        width: 100%;
        height: 400px;
        margin-top: 20px;
        
        
    }
    #photo-koleksi{
        display: block;
        background-color: none;
        
        
    }
    #photo{
        /*background:linear-gradient(to left,skyblue,transparent);*/
        height: 1400px;
        
    }
    #video{
        background-color: white;
    }

    #profesi,#info-saya,#ket-saya,#tbl-saya,#sms{
        font-size: 10pt;
    }
    #name{
        padding-bottom: 5px;
    }
    #ket-saya{
        padding-bottom: 10px;
    }
    #sms{
        padding-top: 10px;
        padding-bottom: 15px;
    }
    #hero-info{
        display: block;
        height: 1000px;
    }
    #text-gbr-ku{
        padding-top: 10px;
        
    }
    
    #gbr-ku, #text-gbr-ku{
        width: 100%;
        
        
    }


    #info-saya{
        width: 90%;
        margin: auto;
    }
    #name{
        font-size: 18pt;

    }
    #nama{
        /*background-color: black;*/
        width: 100%;
        font-size: 10pt;
    }


  
    #rows-menu{
        display: block;
        height: 100%;
    }
    .menu-item{
        width: 100%;
    }
    #gbr-menu-gif{
        width: 40%;
        margin-left: 30%;
    }
    .list-item:hover{
        width: 50%;
    }
    #list-menu{
        height: 800px;
        overflow: scroll;
    }
    #tbl-baca{
        margin: auto;
    }
    #ket-pengalaman{
        width: 80%;
        margin: auto;
        padding-bottom: 10px;
    }
    #frame-header{
        width: 100%;
        margin-left: 0;
    }
    #nama{
        font-size: 15pt;
    }
    #line-nama{
        width: 65%;
    }
    #line-menu{
        width: 20%;
        padding-right: 5px;
    }
    #menu{
        font-size: 12pt;
        height: 20px;
        
        margin-top: 10px;
    }
    #tbl-baca{
        background-color: lightskyblue;
    }
}
@media only screen and (max-width: 614px){
    #name{
        padding-top: 30px;
    }
}
/*600px*/

@media only screen and (max-width: 600px){

    #rows-menu{
        display: block;
        height: 100%;
    }
    #text-gbr-ku{
        padding-top: 10px;
    }
    #icon-sos{
        width: 25%;
    }
    .menu-item{
        width: 100%;
    }
    #gbr-menu-gif{
        width: 55%;
        margin-left: 23%;
    }
    .list-item:hover{
        width: 50%;
    }
    #list-menu{
        height: 800px;
        overflow: scroll;
    }
    #tbl-baca{
        margin: auto;
    }
    #ket-pengalaman{
        width: 80%;
        margin: auto;
        padding-bottom: 10px;
    }
    #frame-header{
        width: 100%;
        margin-left: 0;
    }
    #nama{
        font-size: 15pt;
    }
    #line-nama{
        width: 65%;
    }
    #line-menu{
        width: 20%;
        padding-right: 5px;
    }
    #menu{
        font-size: 12pt;
        height: 20px;
        
        margin-top: 10px;
    }
    #tbl-baca{
        background-color: lightskyblue;
    }
}
@media only screen and (max-width: 572px){
    #name{
        padding-top: 50px;
    }
}
@media only screen and (max-width: 506px){
    #profesi, #info-saya,#ket-saya{
        padding-top: 10px;
    }
}
@media only screen and (max-width: 590px){
    #icon-sos{
        width: 16%;
        
    }

}
@media only screen and (max-width: 420px){
    #profesi, #info-saya,#ket-saya{
        padding-top: 30px;
    }
    #icon-sos{
        width: 27%;
    }
}
/*400px*/
@media only screen and (max-width: 400px){
    #nama{
        font-size: 12.5pt;
    }
    #tag-line{
        font-size: 10pt;
    }
}